{% extends 'employee/admin/base.html' %}
{% block content %}

  <!--Content Header (Page header)-->
                    <div class="content-header row align-items-center m-0">
                        <nav aria-label="breadcrumb" class="col-sm-4 order-sm-last mb-3 mb-sm-0 p-0 ">
                            <ol class="breadcrumb d-inline-flex font-weight-600 fs-13 bg-white mb-0 float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Employees</a></li>
                                <li class="breadcrumb-item active">Manage</li>
                            </ol>
                        </nav>
                        <div class="col-sm-8 header-title p-0">
                            <div class="media">
                                <div class="header-icon text-success mr-3"><i class="typcn typcn-puzzle-outline"></i></div>
                                <div class="media-body">
                                    <h1 class="font-weight-bold">Employees</h1>
                                    <small>These are the pips that ....</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Content Header (Page header)--> 
                    <div class="body-content">
                        <!--HTML (DOM) sourced data-->
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6 class="fs-17 font-weight-600 mb-0">Sourced data</h6>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table display table-bordered table-striped table-hover sourced">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Contact</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Status</th>
                                                <th>Created</th>


                                                
                                            </tr>
                                        </thead>
                                        <tbody>



                                    {% for managers in m %}
                                     <tr>
                                                <td>{{m.name}}</td>
                                                <td>{{m.contact}}</td>
                                                <td>{{m.email}}</td>
                                                <td>{{m.address}}</td>
                                                <td>{{m.status}}</td>
                                                <td>{{m.created_at}}</td>
                                        </tr> 
                                            
                                    
                                    {% endfor %}

                          
                                        
                                        </tbody>
                                       
                                    </table>
                                </div>
                            </div>
                        </div>
                       
                    </div><!--/.body content-->

{% endblock content %}