
{% extends 'employee/admin/base.html' %}
{% block content %}




   <div class="content-header row align-items-center m-0">
                        <nav aria-label="breadcrumb" class="col-sm-4 order-sm-last mb-3 mb-sm-0 p-0 ">
                            <ol class="breadcrumb d-inline-flex font-weight-600 fs-13 bg-white mb-0 float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Transport Offical</a></li>
                                <li class="breadcrumb-item active">New Transport Offical</li>
                            </ol>
                        </nav>
                        <div class="col-sm-8 header-title p-0">
                            <div class="media">
                                <div class="header-icon text-success mr-3"><i class="typcn typcn-puzzle-outline"></i></div>
                                <div class="media-body">
                                    <h1 class="font-weight-bold">New Transport Offical</h1>
                                    <small>Some shit to say ...</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Content Header (Page header)--> 
                    <div class="body-content">
                        <div class="row">
                            <div class="col-md-12 col-lg-8">
                                <div class="card mb-4">
                                   
                                    <div class="card-body">
                                         <form role="form"  id="former" method="post"  enctype="multipart/form-data">                                            
                                        {% csrf_token %}  
                                            <div class="form-group">
                                                <label  class="font-weight-600">Full Name</label>
                                                <input type="text" class="form-control" name="name"  placeholder="Enter Full Name">
                                              
                                            </div>

                                             <div class="form-group">
                                                <label  class="font-weight-600">Email address</label>
                                                <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>

                                             <div class="form-group">
                                                <label  class="font-weight-600">Contact</label>
                                                <input type="text" class="form-control" name="contact"  placeholder="Enter Contact">
                      
                                            </div>

                                             <div class="form-group">
                                                <label class="font-weight-600">Address</label>
                                                <input type="email" class="form-control" name="address" placeholder="Enter Address">
                     
                                            </div>

                                           


                                          
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </form>
                                       
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div><!--/.body content-->



{% endblock content %}